.logo {
    float: right;
    margin-right: 20px;
    margin-top: -70px;
    color: aliceblue;
    font-family: "Lineage 2 Font", sans-serif;
    text-align: center;
}

.logo img {
    height: 70px;
}

.logo img:hover {
    height: 71px;
}

.logo p:hover {
    color: skyblue;
    cursor: pointer;
}


.logo h1 {
    font-size: 78px;
    font-weight: 500;
}

.logo p {
    font-size: 20px;
    margin-top: -5px;
}
