.progress_bar {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    height: 100px;
    font-size: 15px;
    color: aliceblue;
}

.progress_signs {
    position: absolute;
    display: inline-block;
    width: 152px;
    height: 100px;
    text-align: center;
}

.progress_signs h3 {

}

.progress_lines {
    position: absolute;
    display: inline-block;
    width: 380px;
    height: 100px;
    margin-left: 152px;
}

.progress_line {
    display: block;
    width: 90%;
    height: 20px;
    border: 1px solid yellow;
    margin-left: 5%;
    margin-top: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,1);


    
background: rgba(255,182,46,1);
background: -moz-linear-gradient(left, rgba(255,182,46,1) 12%, rgba(255,182,46,1) 65%, rgba(255,182,46,1) 68%, rgba(253,239,144,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(12%, rgba(255,182,46,1)), color-stop(65%, rgba(255,182,46,1)), color-stop(68%, rgba(255,182,46,1)), color-stop(100%, rgba(253,239,144,1)));
background: -webkit-linear-gradient(left, rgba(255,182,46,1) 12%, rgba(255,182,46,1) 65%, rgba(255,182,46,1) 68%, rgba(253,239,144,1) 100%);
background: -o-linear-gradient(left, rgba(255,182,46,1) 12%, rgba(255,182,46,1) 65%, rgba(255,182,46,1) 68%, rgba(253,239,144,1) 100%);
background: -ms-linear-gradient(left, rgba(255,182,46,1) 12%, rgba(255,182,46,1) 65%, rgba(255,182,46,1) 68%, rgba(253,239,144,1) 100%);
background: linear-gradient(to right, rgba(255,182,46,1) 12%, rgba(255,182,46,1) 65%, rgba(255,182,46,1) 68%, rgba(253,239,144,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb62e', endColorstr='#fdef90', GradientType=1 );
}

.progress_buttons {
    position: absolute;
    display: inline-block;
    width: 137px;
    height: 100px;
    margin-left: 532px;
}

.progress_button {
    width: 127px;
    height: 20px;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid aliceblue;
    text-decoration: underline;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
}

.progress_button:hover {
    cursor: pointer;
    font-weight: 600;
    border: 1px solid rgb(201, 193, 185)
}

.progress_play {
    text-align: center;
    position: absolute;
    display: inline-block;
    width: 91px;
    margin-left: 669px;
    height: 100px;

}

.progress_play img {
    width: 90%;
    margin-top: -50px;
}

.progress_play img:hover {
    width: 92%;
    cursor: pointer;
}

.progress_play h1 {
    margin-top: -20px;
    cursor: pointer;
}