@font-face {
  font-family:"Lineage 2 Font";
  src:url("./fonts/Lineage2Font/49_la2font.eot") format("eot"),
      url("./fonts/Lineage2Font/49_la2font.woff") format("woff"),
      url("./fonts/Lineage2Font/49_la2font.ttf") format("truetype"),
      url("./fonts/Lineage2Font/49_la2font.svg") format("svg");
      font-weight:normal;
      font-style:normal;
  }

.App {
  text-align: center;
}

.App h1 {
  font-family: "Lineage 2 Font", sans-serif;
  font-size: 78px;
  font-weight: 500;
}

.App p {
  font-family: "Lineage 2 Font", sans-serif;
  margin-top: -60px;
}


