@font-face {
  font-family:"Lineage 2 Font";
  src:url("./fonts/Lineage2Font/49_la2font.eot") format("eot"),
      url("./fonts/Lineage2Font/49_la2font.woff") format("woff"),
      url("./fonts/Lineage2Font/49_la2font.ttf") format("truetype"),
      url("./fonts/Lineage2Font/49_la2font.svg") format("svg");
      font-weight:normal;
      font-style:normal;
  }

.App {
 
}

.main {
  margin: auto;
  width: 760px;
  height: 430px;
  margin-top: 60px;
  border-radius: 3%;
  background-size: 100%;
  background-image: url("./img/main-bg.jpg");

  -webkit-box-shadow: inset 0px 0px 82px 31px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 82px 31px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 82px 31px rgba(0,0,0,1);
}

.content_wrapper {
  margin-top: 60px;
  color: aliceblue;
}

.progress_wrapper {
  margin-top: 50px; /*исправь, сука тупая!!!*/
}


